[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]



[requires]

# Uncomment the below when pipfile supports pep 508 markers properly for
# python version.  Note that the code uses the {**a, **b} dict mechanism,
# and so requires at least python 3.5.
#
# python_version = ">=3.5"


[packages]

tensorflow = "*"
tensorflow-gpu = "*"
numpy = "*"
keras = "*"
